*{margin:0; padding:0; box-sizing: border-box;}

.package-button{
    background-color: #f5d6d6;
    color: #0707be;
    padding: 10px;
    width: 100%;
    border-color: #f5d6d6;
}


.package-title{
    margin-top: 30px;
    margin-bottom: 40px;
}

.space-class{
    margin-top: 40px;
    margin-bottom: 40px;
}
footer{
    margin-top: 30px;
    background-color: black;
    width: 100%;

}
