*{margin:0; 
    padding:0; 
    box-sizing: border-box;}

.package-button{
    background-color: #f8ecec;
    color: #0707be;
    padding: 10px;
    width: 100%;
    border-color: #f8ecec;
}

.space-class{
    margin-top: 40px;
    margin-bottom: 40px;
}
footer{
    margin-top: 50px;
    background-color: black;
    width: 100%;

}
